<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" href="your_image_path_and_name.ico" />

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/color.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% block css %}{% endblock css %}

</head>

<body {% if alert or warning or confirm %}class="noscroll" {% endif %}>

    <nav id="navbar" class="navbar navbar-expand-lg navbar-light color-bg-01 fixed-top" v-show="top<=10">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="https://via.placeholder.com/30" width="30" height="30" class="d-inline-block align-top" alt="">
            Home
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="material-icons">dehaze</i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'restaurants' %}">
                        <i class="material-icons">store</i>
                        Browse Store
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'menus' %}">
                        <i class="material-icons">fastfood</i>
                        Browse Menu
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'see_congestion' %}">
                        <i class="material-icons">people</i>
                        See congestion
                    </a>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <div class="btn-group">
                <button type="button" class="btn color-bg-02 dropdown-toggle text-light" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">person</i>
                    {{ user.username }}
                </button>
                <div class="dropdown-menu dropdown-menu-lg-right">
                    {% if user.user_type == "staff" %}
                    <a class="dropdown-item" href="{% url 'my_restaurant' %}">My Restaurant</a>
                    {% elif user.user_type == "admin" %}
                    <a class="dropdown-item" href="{% url 'admin:index' %}">Admin page</a>
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'my_profile' %}">My Profile</a>
                    <a class="dropdown-item" href="{% url 'my_orders' %}">My Orders</a>
                    <a class="dropdown-item" href="{% url 'my_history' %}">My History</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'report' %}">Report us</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                </div>
            </div>
            {% else %}
            <a class="btn color-bg-02 text-light" href="{% url 'login' %}" role="button">Log In</a>
            {% endif %}
        </div>
    </nav>

    {% if alert or warning or confirm %}
    <div id="popup" onclick="deactive()">
        <div class="background" @click="deactive"></div>
        {% if alert %}
        <div class="message alert card border-danger">
            <h3>{{ alert }}</h3>
        </div>
        {% elif warning %}
        <div class="message alert card border-warning">
            <h3>
                {{ warning }}
            </h3>
        </div>
        {% elif confirm %}
        <div class="message alert card border-success">
            <h3>
                {{ confirm }}
            </h3>
        </div>
        {% endif %}
    </div>
    {% endif %}

    <div id="content">
        {% block content %}{% endblock content %}
    </div>

    <div id="footer" class="jumbotron-fluid color-bg-01">
        <p class="text-center p-3 font-weight-bold">This website is belong to IT15</p>
    </div>

    {% block before_script %}{% endblock before_script %}

    <script src="{% static 'js/vue.js' %}"></script>
    <script src="{% static 'js/jquery-3.4.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'main/js/main.js' %}"></script>

    {% block after_script %}{% endblock after_script %}
</body>

</html>