{% extends "main/base.html" %} {% block title %} Index {% endblock title %} {% block before_script %}
{% endblock before_script %} {% block after_script %} {% endblock after_script %} {% block css %}
<style>
    #content {
        padding-top: 0;
    }

    #header,
    .img {
        height: 500px;
    }
</style>
{% endblock css %} {% block content %}
<div id="header" class="jumbotron-fluid p-0">
    <div id="index-carousel" class="carousel slide" data-ride="true">
        <ol class="carousel-indicators">
            {% for menu in top_menus %}
            <li data-target="#index-carousel" data-slide-to="{{forloop.counter0}}" {% if forloop.first %}class="active"
                {% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for menu in top_menus %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="img" style="background-image: url('{{ menu.image_path.url }}')">

                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        {{ menu.menu_name }}
                    </h5>
                    <p>
                        {{ menu.description }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#index-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#index-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="container">
    <h2>Recommended Menus</h2>
    <div class="row">
        {% for menu in top_menus %}
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="card">
                <div class="img equal" style="background-image: url('{{ menu.image_path.url }}')"></div>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{% url 'menu' menu.menu_id %}">{{ menu.menu_name }}</a>
                    </h4>
                    <p class="card-text">
                        <b>
                            {% if menu.status == "sell" %}
                            ขาย
                            {% else %}
                            ไม่ขาย
                            {% endif %}
                        </b>
                        <br> {{ menu.res_id.res_name }}
                        <br> {{ menu.rating }} คะแนน
                        <br>
                         {% if menu.user_id_id %}
                        <a href="{% url 'unvote_menu' menu.menu_id request.path %}" class="btn btn-secondary">Voted</a>
                        {% else %}
                        <a href="{% url 'vote_menu' menu.menu_id request.path %}" class="btn btn-primary">Vote</a>
                        {% endif %}
                        <a href="{% url 'order' menu.menu_id request.path %}" role="button"
                            class="btn btn-warning">Order</a>
                    </p>
                </div>
            </div>
        </div>


        {% endfor %}
    </div>




</div>


{% endblock content %}