{% extends "main/base.html" %}
{% block title %}
Index
{% endblock title %}

{% block before_script %}
{% endblock before_script %}

{% block after_script %}
{% endblock after_script %}

{% block css %}
<style>
    #content {
        padding-top: 0;
    }
</style>
{% endblock css %}

{% block content %}
<div id="header" class="jumbotron-fluid">
    <div id="index-carousel" class="carousel slide" data-ride="true">
        <ol class="carousel-indicators">
            {% for menu in top_menus %}
            <li data-target="#index-carousel" data-slide-to="{{forloop.counter0}}" {% if forloop.first %}class="active"
                {% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for menu in top_menus %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="img" style="background-image: url('{{ menu.image_path.url }}')">

                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        {{ menu.menu_name }}
                    </h5>
                    <p>
                        {{ menu.description }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#index-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#index-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="container">
    <div>
        <h3 class="text-center">Menu</h3>
    </div>


</div>


{% endblock content %}