{% extends "main/base.html" %}

{% block title %}
Index
{% endblock title %}

{% block before_script %}
{% endblock before_script %}

{% block after_script %}
{% endblock after_script %}

{% block css %}
{% endblock css %}

{% block content %}

<div class="container">

    <h2>All Menus</h2>
    <div class="row">
        {% for menu in menus %}
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="card">
                <div class="img equal" style="background-image: url('{{ menu.image_path.url }}')"></div>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{% url 'menu' menu.menu_id %}">{{ menu.menu_name }}</a>
                    </h4>
                    <p class="card-text">
                        {{ menu.res_id.res_name }} {{ menu.status }}
                        <br>
                        {{ menu.rating }}
                        {% if menu.user_id_id %}
                        <a href="{% url 'unvote_menu' menu.menu_id request.path %}">Voted</a>
                        {% else %}
                        <a href="{% url 'vote_menu' menu.menu_id request.path %}">Vote</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>


        {% endfor %}
    </div>




</div>


{% endblock content %}