{% extends "main/base.html" %}

{% block title %}
Menu
{% endblock title %}

{% block before_script %}
{% endblock before_script %}

{% block after_script %}
{% endblock after_script %}

{% block css %}
{% endblock css %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-12">
            <h4>{{ menu.menu_name }}</h4>
        </div>
        <div class="col-xl-6">
            <img src="{{ menu.image_path.url }}" alt="" class="w-100">
        </div>
        <div class="col-xl-6">
            <b>
                {% if menu.status == "sell" %}
                ขาย
                {% else %}
                ไม่ขาย
                {% endif %}
            </b>
            <br>
            <b>ร้าน </b>
            {{ menu.res_id }}
            <br>
            {% if menu.prepare_time %}
            <b>เวลาในการปรุงอาหาร</b>
            {{ menu.prepare_time }}
            <br>
            {% endif %}

            {% if menu.price %}
            <b>ราคา</b>
            {{ menu.price }} บาท
            <br>
            {% endif %}

            {% if menu.amount %}
            <b>คงเหลือ </b>
            {{ menu.amount }}
            <br>
            {% endif %}

            {{ menu.description }}
            <br>

            <b>เพิ่มเติม</b>
            <br>
            {% for extra in extras %}
            -{{ extra.extra_name }}
            {% if extra.extra_price %}
            ({{ extra.extra_price }}บาท)
            {% endif %}
            <br>
            {% endfor %}

            {{ menu.rating }} คะแนน
            <br>
            {% if voted %}
            <a href="{% url 'unvote_menu' menu.menu_id request.path %}" class="btn btn-secondary">Voted</a>
            {% else %}
            <a href="{% url 'vote_menu' menu.menu_id request.path %}" class="btn btn-primary">Vote</a>
            {% endif %}
            <a href="{% url 'order' menu.menu_id request.path %}" role="button" class="btn btn-warning">Order</a>
        </div>
    </div>


</div>


{% endblock content %}