{% extends "main/base.html" %}

{% block title %}
My History
{% endblock title %}

{% block before_script %}
{% endblock before_script %}

{% block after_script %}
{% endblock after_script %}

{% block css %}
{% endblock css %}

{% block content %}

<div class="container">
    <h2>My History</h2>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">รหัสออเดอร์</th>
                <th scope="col">อาหารที่สั่ง</th>
                <th scope="col">จำนวน</th>
                <th scope="col">เวลานัดรับ</th>
                <th scope="col">สถานะ</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.order_id }}</td>
                <td>{{ order.menu_name }}
                <td>{{ order.quantity }}</td>
                <td>{{ order.receive_datetime|date:"d/m/y H:i" }}น.</td>
                <td>{{ order.order_status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}