{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Register
{% endblock title %}

{% block before_script %}
{% endblock before_script %}

{% block after_script %}
<script src="{% static 'main/js/register.js' %}"></script>
{% endblock after_script %}

{% block css %}
{% endblock css %}

{% block content %}

<div class="container">
    <h3>Register to ICS</h3>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-xl-6">
                {{ form.first_name|as_crispy_field }}
            </div>
            <div class="col-xl-6">
                {{ form.last_name|as_crispy_field }}
            </div>
            <div class="col-12">
                {{ form.email|as_crispy_field }}
            </div>
            <div class="col-xl-6">
                {{ form.username|as_crispy_field }}
            </div>
            <div class="col-xl-6">
                {{ form.dob|as_crispy_field }}
            </div>
            <div class="col-xl-6">
                {{ form.password1|as_crispy_field }}
            </div>
            <div class="col-xl-6">
                {{ form.password2|as_crispy_field }}
            </div>
            <div class="col-12">
                {{ form.image_path|as_crispy_field }}
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-secondary">Submit</button>
        </div>

    </form>
</div>






{% endblock content %}