{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
All Restaurants
{% endblock title %}

{% block before_script %}
{% endblock before_script %}

{% block after_script %}
{% endblock after_script %}

{% block css %}
{% endblock css %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xl-8">
            <h2>All Restaurants</h2>
        </div>
        <div class="col-xl-4">
            <form action="" method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="search" value="{{ form.search.value|default_if_none:'' }}" placeholder="Search for Restaurant">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% for res in restaurants %}
    <div class="restaurants card">
        <div class="row no-gutters">
            {% if forloop.counter0|divisibleby:2 %}
            <div class="col-xl-4">
                <div class="img equal" style="background-image: url('{{ res.image_path.url }}')">
                </div>
            </div>
            {% else %}
            <div class="col-xl-4 d-xl-none">
                <div class="img equal" style="background-image: url('{{ res.image_path.url }}')">
                </div>
            </div>
            {% endif %}
            <div class="col-xl-8">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <a href="{% url 'restaurant' res.res_id %}">
                                <h4 class="card-title">{{ res.res_name }}</h4>
                            </a>
                        </div>
                        <div class="col-3">
                            <h5 class="card-text text-right">{{ res.status }}</h5>
                        </div>
                        <div class="col-12">
                            <p class="card-text">
                                {% if res.Sunday or res.Monday or res.Tuesday or res.Wednesday or res.Thursday or res.Friday or res.Saturday %}
                                <b>วันเปิดทำการ </b>
                                {% if res.Sunday %}
                                อา
                                {% endif %}
                                {% if res.Monday %}
                                จ
                                {% endif %}
                                {% if res.Tuesday %}
                                อ
                                {% endif %}
                                {% if res.Wednesday %}
                                พ
                                {% endif %}
                                {% if res.Thursday %}
                                พฤ
                                {% endif %}
                                {% if res.Friday %}
                                ศ
                                {% endif %}
                                {% if res.Saturday %}
                                ส
                                {% endif %}
                                <br>
                                {% endif %}

                                {% if res.open_time and res.close_time %}
                                <b>เวลาเปิดทำการ</b> {{ res.open_time|date:"H:i" }}น. ถึง
                                {{ res.close_time|date:"H:i" }}น.<br>
                                {% elif res.open_time %}
                                <b>เวลาเปิดทำการ</b> {{ res.open_time|date:"H:i" }}น. เป็นต้นไป<br>
                                {% elif res.close_time %}
                                <b>เวลาเปิดทำการ</b> ถึง {{ res.close_time|date:"H:i" }}น.<br>
                                {% endif %}
                                {{ res.description }}
                            </p>
                        </div>
                        <div class="col-4">
                            {{ res.rating }}
                            {% if res.user_id_id %}
                            <a href="{% url 'unvote_restaurant' res.res_id request.path %}" class="btn btn-secondary">Voted</a>
                            {% else %}
                            <a href="{% url 'vote_restaurant' res.res_id request.path %}" class="btn btn-primary">Vote</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% if not forloop.counter0|divisibleby:2 %}
            <div class="col-xl-4 d-none d-xl-block">
                <div class="img equal" style="background-image: url('{{ res.image_path.url }}')"></div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}




</div>


{% endblock content %}