{% extends "main/base.html" %}

{% block title %}
Canteen Congestion
{% endblock title %}

{% block before_script %}
{% endblock before_script %}

{% block after_script %}
{% endblock after_script %}

{% block css %}
{% endblock css %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xl-8">
            <h2>Canteen Congestion</h2>
        </div>
        <div class="col-xl-4">
            <form action="" method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="search"
                        value="{{ form.search.value|default_if_none:'' }}" placeholder="Search for Restaurant">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ร้านอาหาร</th>
                <th scope="col">สถานะ</th>
                <th scope="col" class="text-center">คิวที่กำลังดำเนินการอยู่</th>
            </tr>
        </thead>
        <tbody>
            {% for con in congestions %}
            <tr>
                <th scope="row">{{ con.res_name }}</th>
                <td>{{ con.status }}</td>
                <td class="text-center">{{ con.number }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>


{% endblock content %}