{% extends "main/base.html" %}

{% block title %}
Sell Report
{% endblock title %}

{% block before_script %}
{% endblock before_script %}

{% block after_script %}
{% endblock after_script %}

{% block css %}
{% endblock css %}

{% block content %}

<div class="container">
    <h2>My Restaurant Report</h2>
    <h3>ยอดขายของเดือนนี้</h3>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">รายการอาหาร</th>
                <th scope="col">ยอดขาย</th>
            </tr>
        </thead>
        <tbody>
            {% for item in month %}
            <tr>
                <td>{{ item.menu_name }}</td>
                <td>{{ item.quantity }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    <h3>ยอดขายของปีนี้</h3>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">รายการอาหาร</th>
                <th scope="col">ยอดขาย</th>
            </tr>
        </thead>
        <tbody>
            {% for item in year %}
            <tr>
                <td>{{ item.menu_name }}</td>
                <td>{{ item.quantity }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    <h3>ยอดขายทั้งหมด</h3>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">รายการอาหาร</th>
                <th scope="col">ยอดขาย</th>
            </tr>
        </thead>
        <tbody>
            {% for item in all %}
            <tr>
                <td>{{ item.menu_name }}</td>
                <td>{{ item.quantity }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>


{% endblock content %}