.material-icons {
    vertical-align: bottom;
}

#footer p {
    margin: 0
}

.noscroll {
    overflow-y: hidden;
}

#popup {
    z-index: 10000;
}

#popup.active {
    display: block;
}

#popup .background {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.7);
    z-index: 5;
}

#popup .message {
    position: fixed;
    top: 45%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);

}
#content {
    margin-top: 56px;
}

.img {
    width: 100%;
    background-position: center;
    background-size: cover;
}

.carousel-item .img {
    height: 1080px;
}

.card {
    margin-bottom: 16px;
    border-radius: 1em;
    overflow: hidden;
}

.container, .jumbotron-fluid {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: white;
}

.info {
    border: 5px solid black
}

.success {
    border: 5px solid green
}

.warning {
    border: 5px solid red
}

.error {
    border: 5px solid yellow
}

